Client/Library
Client/Logs
Client/Temp
Client/obj
Client/*.csproj
Client/*.sln
Client/log.txt
Client/.vs
Client/Build
/**/.vsconfig
/**/.vscode
/**/node_modules
/**/.env
Server/dist
Server/logs
TableManager/logs
TableManager/ssl
TableServer/dist
TableServer/ssl
GameServer/public/game/index.html
GameServer/public/game.zip
GameServer/public/
MultiTableManager/ssl
/*.zip
/TableServer/logs
/run(gs_cash).cmd
GameServer-Dev
