<h2>Login</h2>
<form method="post" action="/user/login" novalidate>
    <div class="form-field">
      <label for="username">Username</label>
      <input class="input" id="username" name="username" type="text" autofocus/>
    </div>
    <div class="form-actions">
      <button class="btn" type="submit">Login</button>
    </div>
  </form>